.App {
  text-align: center;
}
.Row {
  width: 90%;
  height: 140px;
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: row;
  border: 2px solid orange;
  font-size: 40px;
}
.Orange {
  border-left: 2px solid orange;
  text-align: center;
  /* height: 150px; */
  width: 30%;
  padding: 40px 20px;
}
.Red {
  color: red;
}
